body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-board {
  min-width: 500px;
  width: 80vw;
  min-height: 500px;
  border: 3px solid red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  border: 2px solid green;
  width: 150px;
  height: 150px;
}
